.map-container-loc {
  height: 350px;
  width: 500px;
  margin-left: 150px;
  align-items: center;
  display: block;
  border: none;
  padding: 20px;
}
.sidebar-loc {
  background-color: rgba(80, 144, 207, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  margin-left: 170px;
  margin-bottom: -14px;
  border-radius: 4px;
  width: 478px;
  align-items: center;
  display: flex;
  border: none;
}
