


.profile {
  display: flex;
}

.profileWrapper {
  flex: 9;
  padding: 20px;
}

.profileTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.profileForm {
  display: flex;
  flex-direction: column;
}


.profileForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.profileForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.profileSubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}